body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: white;
}

.layout {
  display: flex;
  min-height: 100vh;
}

/* SIDEBAR */
.sidebar {
  width: 360px;
  background-color: #a3d4c7;
  padding: 60px 40px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-img {
  width: 220px;
  margin-bottom: 80px;
}

.sidebar nav {
  width: 100%;
  text-align: center;
}

.sidebar nav a {
  display: block;
  text-decoration: none;
  color: white;
  font-weight: 300;
  letter-spacing: 1.5px;
  margin: 18px 0;
  transition: 0.3s ease;
}

.sidebar nav a:hover {
  color: #edbaa6;
}

/* NAVIGATION */
.sidebar nav {
  width: 100%;
  text-align: center;
}

.sidebar nav a {
  display: block;
  text-decoration: none;
  color: white;
  font-weight: 300;
  letter-spacing: 1.5px;
  margin: 18px 0;
  transition: 0.3s ease;
}

.sidebar nav a:hover {
  color: #edbaa6;
}

/* LinkedIn circle */
.linkedin {
  margin-top: auto;
  width: 36px;
  height: 36px;
  border: 1px solid white;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  color: white;
  font-weight: 600;
  text-decoration: none;
}

/* MAIN */
.main {
  flex: 1;
  padding: 80px;
}
